:root{
    --header_height: 2.5rem;
    --button_height: 32.5px;
    --column-width: 80px;
    --scaling_factor: .75;
    --content_start_from_top: 28.5vh;
    --textbox_width_factor: 14;
}
#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: --header_height;
    background-color: hsl(220, 10, 10);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(1, calc(var(--column-width)*.66)) 1fr repeat(3, calc(var(--column-width)*.66));
    align-items: center;
} 


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--header_height);
    background-color: red;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, var(--column-width)) 1fr repeat(3, var(--column-width));
    justify-items: center;
    align-items: center;
} 

#container {
    position: relative;
    background-color: yellow;
    min-height: 200vh;
}
#content {
    position: absolute;
    background-color: teal;
    top: var(--content_start_from_top);
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-column-gap: 1rem;
    justify-self: left;
}

#google_logo{
    position: relative;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
}

#tb{
    margin: calc(var(--button_height)* var(--scaling_factor)) 0 0 0;
    width: calc(var(--button_height)* var(--textbox_width_factor));
    height: var(--button_height);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    grid-row: 2/3;
    grid-column: 1/3;

}
button{
    max-width: 125px;
    display: inline-block;
    -moz-appearance: none;
    height: var(--button_height);
    min-width: 60px;
    max-height: var(--button_height);
}
#button_search{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: right;
    margin: calc(var(--button_height)* var(--scaling_factor)) 0 0 0;

}
#button_lucky{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: left;
    margin: calc(var(--button_height)* var(--scaling_factor)) 0 0 0;

}
#commitment{
    font-size: small;
    grid-column: 1/3;
    margin: calc(var(--button_height)* var(--scaling_factor)) 0 0 0;
    justify-self: center;
    font-family: arial,sans-serif;
}

